/*
DEFAULT VIEW (mobile view)
*/
/*Make animation for logo*/
@keyframes logoMove{
    from {width: 25px; opacity: 0;}
    to {width: 475px; opacity: 1;}
}

#logo{
    animation: logoMove 5s 1;
}

body{
    font-family: "Poppins", serif;
    background-image: url(../images/concrete_seamless.png);
    background-color: #f1f1f1;
}

header{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}

.nav_links{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
}

.nav_links a:visited{
    color: blue;
}
.nav_links a:hover, a:focus{
    color: #50C7C7;
}

.card > header{
    background-color: #288088;
    border: 2px #45ADAD solid;
    padding: 20px 0;
    border-radius: 50px 50px 0 0;
    margin: 0;
}

.card {
    border-radius: 50px 50px 0 0;
}

.card{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    flex-basis: 450px;
}

.pricing{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.gallery img{
    border: solid 10px #50C7C7;
    margin: 10px;
    width: 300px
}

.gallery{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

/*
VIEW FOR SCREEN SIZE 900px and above (Desktop View)
*/
@media screen and (min-width: 900px) {
    header{
        display: flex;
        flex-wrap: nowrap;
        flex-direction: row;
        justify-content: space-between;
    }

    .nav_links{
        display: flex;
        flex-wrap: nowrap;
        flex-direction: row;
        justify-content: space-between;
    }

    .card{
        display: flex;
        flex-basis: 275px;
        flex-direction: column;
        flex-wrap: nowrap;
    }

    .pricing{
        display: flex;
        align-items: center;
    }

    body > header:first-of-type{
        position: -webkit-sticky;
        position: sticky;
        top: 0;
    }
}

/* If user has the accesibility option to reduce motion, don't play the animation */
@media (prefers-reduced-motion: reduce){
    #logo{
        animation: none;
    }
}


/*
VIEW FOR PRINTING WEBSITE IN PORTRAIT MODE 
*/
@media print and (orientation: portrait){
    /*Remove animation for printing*/
    #logo{
        animation: none;
    }

    body {
        font-family: Arial, Helvetica;
        background-image: none;
    }

    nav{
        display: flex;
        width: 100%;
        flex-direction: column;
        flex-wrap: wrap;
    }

    .nav_links{
        display: flex;
        width: 100%;
        flex-wrap: nowrap;
        flex-direction: row;
        justify-content: space-around;
    }

    .pricing {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: flex-end;
    }

    .card {
        border: solid 2px #45ADDD;
        flex-basis: 325px;
    }

    /*Remove gallery from view*/
    #gallery {
        visibility: hidden;
    }
    .gallery {
        position: absolute;
        visibility: hidden;
    }

    /*Add emojis to end of second item in list on cards*/
    .card li:nth-child(2)::after{
        content: "\01F44D" /*Unicode representing thumbs up*/
    }
}

